
<!DOCTYPE html>
<html>
  <head>
    <title>Live Curriculum</title>
    <link href="/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/css/live-curriculum.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Gustavo Lucena Dalmaso</h1>
    <div class="contato">
      <span class="email">gldalmaso@gmail.com</span> /
      <span class="cel">48 99147685</span> /
      <span class="fone">48 32373882</span>
    </div>
    <div class="conhecimentos">
      <h3>Conhecimentos</h3>
      <div class="left">
	<h4>Principais</h4>
	<ul>
	  <li>java</li>
	  <li>javascript</li>
	  <li>sql</li>
	</ul>
      </div>
      <div class="right">
	<h4>Complementares</h4>
	<ul>
	  <li>clojure</li>
	  <li>testes unitários</li>
	</ul>
      </div>
      <div class="experiencia">
	<h3>Experiência</h3>
	<ul>
	  <li>Paripassu</li>
	</ul>
      </div>
    </div>
  </body>
</html>
