
<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Live Curriculum</title>
    <link href="/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/lib/jquery/css/jquery-humanity-ui.css" type="text/css" rel="stylesheet"/>
    <link href="/css/live-curriculum.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/live-curriculum.js"></script>
  </head>
  <body>
    <div id="header">
      <h1>Gustavo Lucena Dalmaso</h1>
      <div class="contato">
	<span class="email">gldalmaso@gmail.com</span> /
	<span class="cel">48 99147685</span> /
	<span class="fone">48 32373882</span>
      </div>
    </div>
    <div id="center">
      <div class="conhecimentos">
	<h3>Conhecimentos</h3>
	<div class="left principais column">
	  <h4>Principais</h4>
	  <div>
	  </div>
	</div>
	<div class="right complementares column">
	  <h4>Complementares</h4>
	  <div>
	  </div>
	</div>
	<div class="right categorias column">
	  <h4>Categorias</h4>
	  <div id="categorias">
	  </div>
	</div>
      </div>
      <div class="experiencia">
	<h3>Experiência</h3>
	<ul>
	</ul>
      </div>
    </div>
    <div id="footer">
    </div>
  </body>
</html>
