body { background-color:#ddcc88; font-size:16px; margin:0; padding:0; }

#header{ color: #DADADA; background-color:#3A3A3A; padding: 10px; -moz-border-radius: 10px; border-radius: 10px; }

#center { background-color:#eeeecc; padding: 10px; -moz-border-radius: 10px; border-radius: 10px; }

#footer { clear:both; background-color:#333333; height:10px; padding: 10px; -moz-border-radius: 10px; border-radius: 10px; }

div { margin: 10px; }
li { list-style: none; }
.contato { clear: both; }
.conhecimentos div.left { float: left; }
.conhecimentos div.right { float: left; }
.column { width: 30%;}
.conhecimentos div { text-align: center;}
.untoggled { -moz-border-radius: 200px; border-radius: 200px; border: 2px dashed #D9CC83; background-color: #ABBABA}
.toggled { -moz-border-radius: 200px; border-radius: 200px; border: 2px solid #D9CC83; background-color: #D9BB73 }
.categorias { width: 30% }
#categorias { width: 90% }
.experiencia { clear: both; }
.experiencia ul { display: inline-block; }
.experiencia li { width: 300px; padding: 10px; float: left; margin: 10px; -moz-border-radius: 100px; border-radius: 30px;
		  border: 2px solid #D9CC83; background-color: #D9BB73 }
